@font-face {
font-family: "Open Sans";
src: url("/sources/fonts/OpenSans-Regular.woff2") format("woff2");
font-weight: 400;
font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("/sources/fonts/OpenSans-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: bold;
}

* {
    margin: 0;
    padding: 0;
}

/* body design */

body {
    font-family: "Open Sans", serif;
    max-width: 1920px;
}

/* header 1920 */

.header {
    position: relative;
    padding: 4rem 3rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/sources/img/football_767.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -2;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0a0e34;
    opacity: 0.9;
    z-index: -1;
}

.logo-text{
    width: 17rem;
}

.header-slogan {
    align-items: left;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.3rem;
    color: #ffffff;
    margin-top: 17rem;
    margin-bottom: 11rem;
}

/* .first-line {
    margin-right: auto;
} */

.second-line {
    margin-top: 6%;
    margin-left: 15%;
}

.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 10rem ;
    width: 100%;
    border-radius: 3rem;
    background-color: #5e42b0;
    text-transform: uppercase;
    color: white;
    text-align: left;
    border: none;
}

.button::before {
    content: "";
    background-repeat: no-repeat;
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
}

.apple-button::before {
    background-image: url("/sources/svg/apple_logo_white.svg");
}

.android-button::before {
    background-image: url("/sources/svg/google-play_white.svg");
}

.android-button {
    margin-top: 2rem;
}

.button-text {
    font-size: 1rem;
    letter-spacing: 0.4px;
    width: 60%;

}

.os-name {
    font-weight: bold;
}

@media (min-width: 320px) and (max-width: 640px) { 
    html {
        font-size: 50%;
    }
}
    

/* header 768 */

/* @media (min-width: 641px) and (max-width: 960px) {

    .button {
        font-size: 14px;
    }

    .header {
        padding: 4.5% 6.8% 10.7%;
    }
} */

/* header 320 */

/* @media (max-width: 640px) {
    .header {
        padding: 2.4em 1.4em 6em;
        font-size: 8px;
    }

    .header-title {
        font-size: 28px;
    }

    .buttons {
        flex-wrap: wrap;
        width: 100%;
    }

    .button {
        display: flex;
        justify-content: center;
        font-size: 8px;
        width: 100%;
    }

    .android-button {
        margin-left: 0;
        margin-top: 1em;
    }
    


} */

/* main */

.items-athlets, .items-players {
    padding-top: 4rem;
    position: relative;
}

.items-athlets::before {
    content: "";
    position: absolute;
    top: 8%;
    background-image: url("/sources/img/footballer_192.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 26%;
    z-index: 4;
}

.items-caption {
    font-size: 6rem;
    font-weight: bold;
    line-height: 5rem;
    text-align: left;
    color: #e7e7e7;
    text-transform: uppercase;
    padding: 0 3rem 30rem;
    position: relative;
}

.connection-line {
    background-color: #fafafa;
}

.items-line {
    padding: 7rem 3rem;
}

.items-title {
    position: relative;
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;
    letter-spacing: 0.2rem;
    text-align: left;
    color: #c1c1c1;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.items-title-number {
    display: inline-block;
    position: relative;
    top: -1rem;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    color: #000000;
    margin-right: 2rem;
}

.items-title-number::before {
    position: absolute;
    top: 3rem;
    bottom: 5rem;
    content: "";
    width: 2.1rem;
    height: 0.5rem;
    border-radius: 0.3rem;
    background-color: #5e42b0;
}

.items-title-number-inverse-players {
    color: #9173e6;
}

.items-title-number-inverse::before {
    background-color: #efefef;
}

.items-text {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-align: left;
    color: #000000;
}

.inverse-text {
    color: #ffffff;
}

.collaboration-line {
    background-color: #f5f4f9;
}

.growth-line {
    background-position: cover;
    background-color: #5e42b0;
}

.items-players::after {
    content: "";
    position: absolute;
    top: 8%;
    background-image: url("/sources/img/basketballer_302.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 26%;
    z-index: 4;
}

.growth-line-players {
    background-color: #0a0e34;
}

/* cards */

.card {
    position: relative;

}

.card-image {
    height: 43rem;
    width: 100%;
    background-color: #4d1dcf;
    /* background-image: url("/sources/img/be-active_960.jpg"); */
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
}

.card-image-item {
    width: 100%;

}

.card-content {
    padding: 4rem 3rem 10rem;
}

.card-title {
    font-size: 3rem;
    font-weight: bold;
    line-height: 2rem;
    text-align: left;
    color: rgba(193, 193, 193, 0.4);
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.card-text {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-align: left;
    color: #000000;
} 

/* .card::after {
    content: "01";
    box-sizing: border-box;


    margin-left: -200px;
    margin-top: 10%;

    border-radius: 2px;
    text-decoration: underline;
} */

.number-box {
    position: absolute;
    top: 34rem;
    left: 3rem;
    background-color: #5e42b0;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    color: #f5f6f7;
    padding: 4rem;
}

.number-box::before {
    content: "";
    top: 7rem;
    position: absolute;
    width: 2rem;
    height: 0.5rem;
    border-radius: 0.3rem;
    opacity: 0.3;
    background-color: #ffffff;
}

/* footer */

.footer {
    position: relative;
    padding: 12rem 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/sources/img/game_960.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -2;
}

.footer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0a0e34;
    opacity: 0.9;
    z-index: -1;
}

.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 7rem;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 2rem;
    background-color:#5e42b0;
    padding: 2rem 1.5rem;
}

.footer-text {
    text-transform: uppercase;
    margin-top: 7rem;
    margin-bottom: 9rem;
}

.footer-header-title {
    width: 100%;
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    text-align: center;
    color: #ffffff;
}

.footer-header-subtitle {
    font-size: 1.8rem;
    text-align: left;
    color: #a496ca;
    letter-spacing: 0.2rem;
    text-align: center;
}

.footer-bottom-logo {
    margin-top: 10rem;
}

.title-text {
    color: red;
    text-transform: uppercase;
  }
  
  .caption-text {
    color: blue;
    font-style: italic;
  }